.display-button-container {
    position: relative;
    display: inline-block;
  }
  
  .display-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .display-button img {
    margin-right: 5px;
  }
  
  .dropdown-content {
    position: absolute; /* Ensures the dialog floats above */
    top: 100%; /* Position it just below the button */
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000; /* Ensure the dropdown appears above the board */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-item label {
    font-size: 14px;
    color: #888;
    margin-right: 10px;
  }
  
  .dropdown-item select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .dropdown-item select:hover {
    border-color: #ccc;
  }
  